@charset "UTF-8";
/*
------------------
Reset Materialize 設置相關
------------------
*/
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: auto;
  line-height: 1; }

nav .sidenav-trigger i {
  font-size: 32px; }

/*
------------------
大整體 設置相關
------------------
*/
body,
html {
  background: #222;
  font-family: 微軟正黑體;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  height: 75px;
  line-height: 1;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

img {
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px; }

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.just-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.just-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

/*
------------------
裝飾物 設置相關
------------------
*/
.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 3px;
  top: calc(50% - 2px); }

/*
------------------
Navbar 設置相關
------------------
*/
.logo {
  margin: 0 18px 0 0;
  height: 100%;
  width: 200px;
  background: #f77; }

.left-nav li {
  height: 100%;
  position: relative; }
  .left-nav li a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #f77; }
  .left-nav li.active {
    background-color: rgba(0, 0, 0, 0); }
    .left-nav li.active a {
      color: #f77; }
    .left-nav li.active::after {
      content: "";
      background: #f77;
      height: 5px;
      border-radius: 5px;
      width: 60%;
      position: absolute;
      bottom: 10px;
      left: 20%; }

.left-nav li a {
  padding: 0 18px;
  position: relative;
  white-space: nowrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*
------------------
SideNav 設置相關
------------------
*/
.sidenav {
  background-color: #444; }

.sidenav li a {
  height: 48px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 0 0 0 20px; }
  .sidenav li a.sidenav-user-view {
    height: auto;
    line-height: 1;
    padding: 0; }
  .sidenav li a.disable {
    color: #777;
    font-size: 16px;
    cursor: default; }
    .sidenav li a.disable:hover {
      background-color: rgba(0, 0, 0, 0); }

.sidenav-user-view-container {
  padding: 20px 20px 20px 0;
  width: 100%; }

.sidenav-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 20px; }

.sidenav-content {
  position: relative;
  width: 100%;
  padding-left: 20px; }

.sidenav-name {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sidenav-name i {
    font-size: 16px;
    color: #c2c2c2;
    margin-left: 5px; }

.sidenav-intro {
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.2;
  white-space: normal; }

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  margin: 0 15px 0 0;
  color: #d8d8d8;
  height: auto;
  width: auto;
  line-height: 1;
  float: none;
  font-size: 20px; }

.sidenav .divider {
  background-color: #444;
  margin: 0; }
  .sidenav .divider.dp-divider {
    background-color: #333; }

.m-user-content {
  background-color: #333; }

#hotspot {
  background-color: #f77; }
  #hotspot:hover {
    background-color: #db5b5b; }

/*
------------------
主要舞台區
------------------
*/
.section {
  height: 100vh;
  width: 100%; }
