@charset "UTF-8";
/*
------------------
Reset Materialize 設置相關
------------------
*/
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: auto;
  line-height: 1;
}

nav .sidenav-trigger i {
  font-size: 32px;
}

/*
------------------
大整體 設置相關
------------------
*/
body,
html {
  background: #222;
  font-family: 微軟正黑體;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.just-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.just-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*
------------------
裝飾物 設置相關
------------------
*/
.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 3px;
  top: calc(50% - 2px);
}

/*
------------------
Navbar 設置相關
------------------
*/
nav {
  height: 75px;
  line-height: 1;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.sticky {
  position: fixed;
  height: 65px;
  background: #333;
  z-index: 10;
}

nav.sticky .left-nav li.active::after {
  width: 80%;
  height: 3px;
  left: 10%;
  bottom: 0;
  border-radius: 0;
}

.logo {
  margin: 0 18px 0 0;
  height: 80%;
  width: 200px;
  background: #ffa600;
}

.logo-wrapper {
  height: 100%;
}

.left-nav li {
  height: 100%;
  position: relative;
}

.left-nav li a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ffa600;
}

.left-nav li.active {
  background-color: rgba(0, 0, 0, 0);
}

.left-nav li.active a {
  color: #ffa600;
}

.left-nav li.active::after {
  content: "";
  background: #ffa600;
  height: 5px;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  bottom: 10px;
  left: 20%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left-nav li a {
  padding: 0 18px;
  position: relative;
  white-space: nowrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fuc-btn {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 12px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff;
}

.fuc_tt {
  margin-top: 5px;
}

/*
------------------
SideNav 設置相關
------------------
*/
.sidenav {
  background-color: #444;
}

.sidenav li a {
  height: 48px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 0 0 20px;
}

.sidenav li a.sidenav-user-view {
  height: auto;
  line-height: 1;
  padding: 0;
}

.sidenav li a.disable {
  color: #777;
  font-size: 16px;
  cursor: default;
}

.sidenav li a.disable:hover {
  background-color: rgba(0, 0, 0, 0);
}

.sidenav-user-view-container {
  padding: 20px 20px 20px 0;
  width: 100%;
}

.sidenav-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 20px;
}

.sidenav-content {
  position: relative;
  width: 100%;
  padding-left: 20px;
}

.sidenav-name {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidenav-name i {
  font-size: 16px;
  color: #c2c2c2;
  margin-left: 5px;
}

.sidenav-intro {
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.2;
  white-space: normal;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  margin: 0 15px 0 0;
  color: #d8d8d8;
  height: auto;
  width: auto;
  line-height: 1;
  float: none;
  font-size: 20px;
}

.sidenav .divider {
  background-color: #444;
  margin: 0;
}

.sidenav .divider.dp-divider {
  background-color: #333;
}

.m-user-content {
  background-color: #333;
}

#hotspot {
  background-color: #ffa600;
}

#hotspot:hover {
  background-color: #ffa600;
}

/*
------------------
ScrollSpy
------------------
*/
.pager-wrapper {
  position: fixed;
  left: 0;
  top: 30vh;
  z-index: 10;
}

.table-of-contents a,
.table-of-contents a.active,
.table-of-contents a:hover {
  border: 0;
  font-weight: 500;
  padding-left: 45px;
  margin: 10px 0;
  color: #777;
  position: relative;
  line-height: 30px;
  height: 30px;
}

.dot {
  height: 30px;
  width: 10px;
  background: #444;
  border-radius: 10px;
  position: absolute;
  left: 20px;
}

.text {
  margin-left: 45px;
}

.table-of-contents a.active .dot {
  background-color: #ffa600;
}

.table-of-contents a.active {
  color: #ffa600;
}

.table-of-contents li {
  padding: 0;
}

/*
------------------
主要舞台區
------------------
*/
.section {
  height: 100vh;
  width: 100%;
  padding: 0;
}

.main-stage-section {
  height: 760px;
}

.video-stage-wrapper {
  height: 100%;
  width: 1008px;
  margin-right: 40px;
}

.main-video-wrapper {
  height: 576px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.main-video-wrapper:hover .main-video-info-panel {
  opacity: 1;
}

.main-video-container {
  height: 100%;
  width: 100%;
}

/*
------------------
主要舞台影片的狀態浮板
------------------
*/
.main-video-tag-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}

.video-tag {
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 5px 0 0;
}

.main-video-info-panel {
  background: rgba(0, 0, 0, 0.8);
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
}

.main-video-avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 15px 0;
}

.main-video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.main-video-user-ID {
  font-size: 16px;
}

.main-video-user-intro {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 24px 0;
}

.main-video-btn {
  margin-bottom: 10px;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
}

.main-video-btn:hover {
  background-color: #ffa600;
  color: #000;
  border-color: #ffa600;
}

.thumb-wrapper {
  height: 143px;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumb-item {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.thumb-item.current {
  border: 3px solid #ffa600;
  border-radius: 5px;
  position: relative;
}

.thumb-item.current::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 13px 12px;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffa600 rgba(0, 0, 0, 0);
  position: absolute;
  top: -15px;
  left: 24px;
}

.thumb-item.current:hover .thumb-img-wrapper {
  -webkit-filter: none;
          filter: none;
}

.thumb-item:hover .thumb-img-wrapper {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.thumb-item:not(:last-child) {
  margin-right: 20px;
}

.thumb-item-title {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 0;
}

.thumb-room-input-ID {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 24px;
  height: 48px;
  padding: 0 10px;
}

.thumb-info-wrapper {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 10px;
  left: 0;
  padding: 0 10px;
  max-width: 100%;
  overflow: hidden;
}

.thumb-avatar {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
}

.thumb-ID {
  max-width: calc(100% - 65px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

.thumb-img-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/*
------------------
排名列表
------------------
*/
.rank-section {
  height: 100%;
  width: 400px;
  color: #fff;
}

.section-title-wrapper {
  cursor: default;
  width: 100%;
}

.section-title-wrapper a {
  color: #fff;
  line-height: 40px;
  height: 40px;
}

.section-title-wrapper a i {
  height: 40px;
  line-height: 40px;
}

.section-title-icon-mask {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 100%;
  margin-right: 14px;
  overflow: hidden;
}

.section-title,
.section-title-more {
  white-space: nowrap;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
}

/*
------------------
Only for browser 設置相關
------------------
*/
@supports (-ms-ime-align: auto) {
  .main-video-container video {
    height: 100%;
    width: auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-video-container video {
    height: 100%;
    width: auto;
  }
  .section-title-wrapper a i {
    line-height: 48px;
    height: 40px;
  }
}

/*
------------------
RWD Setting
------------------
*/
@media (max-width: 1024px) {
  .md-none {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */