$two: #222;
$thr: #333;
$fr: #444;
$fv: #555;
$sv: #777;
$ni: #999;
$mdgray: #c2c2c2;
$lgray: #d8d8d8;
$w: #fff;
$b: #000;
$font: 微軟正黑體;
/*
------------------
Reset Materialize 設置相關
------------------
*/
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: auto;
  line-height: 1;
}
nav .sidenav-trigger i {
  font-size: 32px;
}
/*
------------------
大整體 設置相關
------------------
*/

body,
html {
  background: $two;
  font-family: $font;
}
nav {
  height: 75px;
  line-height: 1;
  background: none;
  box-shadow: none;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}
.flex-column {
  flex-direction: column;
}
.just-left {
  justify-content: flex-start;
}
.just-right {
  justify-content: flex-end;
}
/*
------------------
裝飾物 設置相關
------------------
*/
.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 5px;
  top: calc(50% - 2px);
}
/*
------------------
Navbar 設置相關
------------------
*/
.logo {
  margin: 0 16px 0 0;
}
.left-nav a {
  padding: 0 16px;
  position: relative;
  white-space: nowrap;
}
