$two: #222;
$thr: #333;
$fr: #444;
$fv: #555;
$sv: #777;
$ni: #999;
$mdgray: #c2c2c2;
$lgray: #d8d8d8;
$w: #fff;
$b: #000;
$font: 微軟正黑體;
$topic: rgb(255, 166, 0);

/*
------------------
Reset Materialize 設置相關
------------------
*/
// i.material-icons {
//   height: auto;
//   width: auto;
//   line-height: 1;
//   float: none;
// }
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: auto;
  line-height: 1;
}
nav .sidenav-trigger i {
  font-size: 32px;
}
/*
------------------
大整體 設置相關
------------------
*/

body,
html {
  background: $two;
  font-family: $font;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img,
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
}
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  position: relative;
}
.flex-column {
  flex-direction: column;
}
.just-left {
  justify-content: flex-start;
}
.just-right {
  justify-content: flex-end;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
/*
------------------
裝飾物 設置相關
------------------
*/
.tri {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #d8d8d8 transparent transparent transparent;
  position: absolute;
  right: 3px;
  top: calc(50% - 2px);
}
/*
------------------
Navbar 設置相關
------------------
*/
nav {
  height: 75px;
  line-height: 1;
  background: none;
  box-shadow: none;

  transition: 0.5s;
}
nav.sticky {
  position: fixed;
  height: 65px;
  background: $thr;
  z-index: 10;

  .left-nav li.active::after {
    width: 80%;
    height: 3px;
    left: 10%;
    bottom: 0;
    border-radius: 0;
  }
}
.logo {
  margin: 0 18px 0 0;
  //暫時制定的高度
  height: 80%;
  width: 200px;
  background: $topic;
}
.logo-wrapper {
  height: 100%;
}
.left-nav li {
  height: 100%;
  position: relative;

  & a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: $topic;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0);

    a {
      color: $topic;
    }
    &::after {
      content: "";
      background: $topic;
      height: 5px;
      border-radius: 5px;
      width: 60%;
      position: absolute;
      bottom: 10px;
      left: 20%;
      transition: 0.5s;
    }
  }
}
.left-nav li a {
  padding: 0 18px;
  position: relative;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
}
.fuc-btn {
  color: #fff;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.avatar-btn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #fff;
}
.fuc_tt {
  margin-top: 5px;
}

/*
------------------
SideNav 設置相關
------------------
*/
.sidenav {
  background-color: $fr;
}
.sidenav li a {
  height: 48px;
  line-height: 1;
  display: flex;
  align-items: center;
  color: $w;
  padding: 0 0 0 20px;

  &.sidenav-user-view {
    height: auto;
    line-height: 1;
    padding: 0;
  }
  &.disable {
    color: $sv;
    font-size: 16px;
    cursor: default;
    &:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
.sidenav-user-view-container {
  padding: 20px 20px 20px 0;
  width: 100%;
}
.sidenav-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 20px;
}
.sidenav-head {
  // margin-left: 20px;
}
.sidenav-content {
  position: relative;
  width: 100%;
  padding-left: 20px;
}
.sidenav-name {
  font-size: 16px;
  display: flex;
  i {
    font-size: 16px;
    color: $mdgray;
    margin-left: 5px;
  }
}
.sidenav-intro {
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.2;
  white-space: normal;
}
.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"],
.sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  margin: 0 15px 0 0;
  color: $lgray;
  height: auto;
  width: auto;
  line-height: 1;
  float: none;
  font-size: 20px;
}
.sidenav .divider {
  background-color: $fr;
  margin: 0;
  &.dp-divider {
    background-color: $thr;
  }
}
.m-user-content {
  background-color: $thr;
}

#hotspot {
  background-color: $topic;
  &:hover {
    background-color: $topic;
  }
}
/*
------------------
ScrollSpy
------------------
*/
.pager-wrapper {
  position: fixed;
  left: 0;
  top: 30vh;
  z-index: 10;
}
.table-of-contents a,
.table-of-contents a.active,
.table-of-contents a:hover {
  border: 0;
  font-weight: 500;
  padding-left: 45px;
  margin: 10px 0;
  color: $sv;
  position: relative;
  line-height: 30px;
  height: 30px;
}
.dot {
  height: 30px;
  width: 10px;
  background: $fr;
  border-radius: 10px;
  position: absolute;
  left: 20px;
}
.text {
  // display: none;
  margin-left: 45px;
}
.table-of-contents a.active .dot {
  background-color: $topic;
}
.table-of-contents a.active {
  color: $topic;
}
.table-of-contents li {
  padding: 0;
}
/*
------------------
主要舞台區
------------------
*/
.section {
  height: 100vh;
  width: 100%;
  padding: 0;
}
.main-stage-section {
  height: 760px;
}
.video-stage-wrapper {
  height: 100%;
  width: 1008px;
  margin-right: 40px;
}
.main-video-wrapper {
  height: 576px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    .main-video-info-panel {
      opacity: 1;
    }
  }
}
.main-video-container {
  height: 100%;
  width: 100%;
}

/*
------------------
主要舞台影片的狀態浮板
------------------
*/
.main-video-tag-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
.video-tag {
  position: relative;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  color: $w;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;

  padding: 0 10px;
  margin: 0 5px 0 0;
}
.main-video-info-panel {
  background: rgba(0, 0, 0, 0.8);
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.2s;

  // border-top-right-radius: 10px;
  // border-bottom-right-radius: 10px;

  color: $w;
}
.main-video-avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 15px 0;
}
.main-video-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.main-video-user-ID {
  font-size: 16px;
}
.main-video-user-intro {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 24px 0;
}
.main-video-btn {
  margin-bottom: 10px;
  border: 1px solid $w;
  color: $w;
  padding: 5px 15px;
  border-radius: 3px;
  &:hover {
    background-color: $topic;
    color: $b;
    border-color: $topic;
  }
}
.thumb-wrapper {
  height: 143px;
  width: 100%;

  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.thumb-item {
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  &.current {
    border: 3px solid $topic;
    border-radius: 5px;
    position: relative;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 13px 12px;
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $topic rgba(0, 0, 0, 0);

      position: absolute;
      top: -15px;
      left: 24px;
    }
    &:hover {
      .thumb-img-wrapper {
        filter: none;
      }
    }
  }
  &:hover {
    .thumb-img-wrapper {
      filter: brightness(0.8);
    }
  }
}
.thumb-item:not(:last-child) {
  margin-right: 20px;
}
.thumb-item-title {
  position: absolute;
  z-index: 1;
  color: $w;

  top: 10px;
  left: 0;
}
.thumb-room-input-ID {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 24px;
  height: 48px;

  padding: 0 10px;
}
.thumb-info-wrapper {
  position: absolute;
  z-index: 1;

  color: $w;

  bottom: 10px;
  left: 0;
  padding: 0 10px;
  max-width: 100%;
  overflow: hidden;
}
.thumb-avatar {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  margin-right: 10px;
}
.thumb-ID {
  max-width: calc(100% - 65px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 14px;
}
.mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}
.thumb-img-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
/*
------------------
排名列表
------------------
*/
.rank-section {
  height: 100%;
  width: 400px;
  color: $w;
}
.section-title-wrapper {
  cursor: default;
  width: 100%;
  a {
    color: $w;
    line-height: 40px;
    height: 40px;
    i {
      height: 40px;
      line-height: 40px;
    }
  }
}
.section-title-icon-mask {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 100%;
  margin-right: 14px;
  overflow: hidden;
}
.section-title,
.section-title-more {
  white-space: nowrap;
}
.section-title {
  font-size: 24px;
  font-weight: 700;
}
/*
------------------
Only for browser 設置相關
------------------
*/
@supports (-ms-ime-align: auto) {
  .main-video-container video {
    height: 100%;
    width: auto;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-video-container video {
    height: 100%;
    width: auto;
  }
  .section-title-wrapper a i {
    line-height: 48px;
    height: 40px;
  }
}
/*
------------------
RWD Setting
------------------
*/
@media (max-width: 1024px) {
  .md-none {
    display: none;
  }
}
